body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  label {
      width: 100%;
      font-weight: bold;
  }
  input {
      border: 1px #999 solid;
      border-radius: 4px;
      height: 24px;
  }
  .form-item__error {
      color: rgb(107, 6, 6);
      font-size: 0.9em;
  }
}

.form-submit {
  text-align: center;

  input {
      border-radius: 4px;
      height: 20px;
  }
}